// Color
:root {
  --color-black: #000;
  --color-white: #fff;

  --color-dark: #3e4244;
  --color-gray: #828a97;
  --color-accent: #4382ec; // rgba(67, 130, 236, 1)
  --color-accent-light: #edf2f4;
  --color-bg: #fafafa;
  --color-yellow: #fabd3b;
}

// * breakpointsMaxW
$bp-container: 1270px;
$bp-991: 991.98px;
$bp-768: 767.98px;
$bp-576: 576px;
$bp-360: 360.98px;

// *=== Fonts
$TTCommons: 'TT Commons';
