.accordion {
  padding-left: 1px;

  &.active {
    .accordion__control {
      &::after {
        transform: rotate(180deg);
      }
    }

    .accordion__content {
      overflow: initial;
    }
  }

  &__control {
    transition: 150ms ease;
    position: relative;

    &::after {
      @include elDef();
      width: 20px;
      height: 10px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      @include maskImage(url('../images/icons/chevron.svg'), contain);
      background-color: var(--color-dark);
      transition: 250ms ease;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    z-index: 9;
  }
}

.drop-box {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &.active {
    .drop-box__control {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    z-index: 9;
    padding-left: 10px;
  }

  &__list {
    max-height: 150px;
    overflow-y: auto;
  }

  &__name {
    color: var(--color-black);
  }

  &__control {
    transition: 150ms ease;
    position: relative;
    width: 50px;
    height: 30px;

    &::after {
      @include elDef();
      width: 20px;
      height: 10px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      @include maskImage(url('../images/icons/chevron.svg'), contain);
      background-color: var(--color-dark);
      transition: 250ms ease;
    }
  }
}
