.articles {
}

.article-card {
  max-width: 380px;
  width: 100%;
  border: 1px solid #f1f1f1;
  border-radius: 20px;

  &__img {
    width: 100%;
    @include adaptive-value('height', 125, 70, 1);

    img {
      @include img(cover);
      border-radius: 20px 20px 0 0;
    }
  }

  &__info {
    @include adaptive-value('padding', 23, 12, 1);
  }

  &__details {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 1;
    font-weight: 400;
    color: #b9c1ce;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__views {
    padding-left: 18px;
    position: relative;
    color: #9ea3ae;

    &::after {
      @include elDef();
      width: 15px;
      height: 15px;
      @include maskImage(url('../images/icons/eye.svg'), contain);
      background-color: #9ea3ae;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__title {
    font-size: 19px;
    line-height: 1.1;
    font-weight: 600;
    color: #424750;
    margin-bottom: 20px;
    min-height: 40px;

    a {
      color: inherit;

      &:hover {
        color: var(--color-accent);
      }
    }
  }

  &__text {
    margin-bottom: 20px;
  }

  &__bottom {
    margin-top: auto;
    width: 100%;
    height: auto;
  }

  &__btn {
    font-size: 15px;
    font-weight: 600;
    padding: 12px 18px;
  }

  &__notify {
    background-color: var(--color-white);
    border: 1px solid #dddddd;
    border-radius: 5px;

    position: relative;
    padding: 11px 20px 11px 38px;
    line-height: 1;

    &::after {
      @include elDef();
      width: 13px;
      height: 13px;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      @include maskImage(url('../images/icons/clock.svg'), contain);
    }

    &--active {
      color: var(--color-accent);

      &::after {
        background-color: var(--color-accent);
      }
    }

    &--disabled {
      color: #afb4bb;

      &::after {
        background-color: #afb4bb;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
  }
}
