.catalog {
  @include adaptive-value('padding-top', 50, 40, 1);
  @include adaptive-value('padding-bottom', 70, 40, 1);

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: flex-start;
    }

    .choices {
      width: 160px;
      background-color: #f2f4f8;
      border-radius: 5px;
      &::before {
        display: none;
      }
    }
  }

  &__sort {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      color: #3e4244;
    }

    @include breakpointsMaxW($bp-991) {
      width: 100%;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 0.34fr 1fr;
    gap: 30px;

    @include breakpointsMaxW($bp-container) {
      grid-template-columns: 280px 1fr;
      gap: 20px;
    }

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 290px));
    gap: 30px 15px;
    justify-content: space-between;
    margin-bottom: 45px;

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: repeat(2, minmax(auto, 290px));
      justify-content: center;
    }
    @include breakpointsMaxW($bp-576) {
      grid-template-columns: minmax(auto, 290px);
    }
  }

  &__item {
    height: 100%;
    width: 100%;
  }

  &__filter-box {
    margin-bottom: 30px;
  }

  &__pagination {
    margin-bottom: 40px;
  }

  &__text {
    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.product-card {
  max-width: 290px;
  width: 100%;

  &:hover {
    .product-card__length {
      transform: translateX(-50%) translateY(-12px);
      opacity: 1;
      visibility: visible;
    }
    .product-card__details {
      transform: translateX(-12px);
      opacity: 1;
      visibility: visible;
    }
    .card-img-slider {
      .swiper-pagination {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .card-img-slider {
    width: 100%;
    height: 100%;
    height: 280px;
    background-color: var(--color-white);
    border: 1px solid #eceff4;
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;

    .swiper-pagination {
      bottom: initial;
      top: 10px;
      left: 10px;
      display: flex;
      justify-content: flex-start;
      opacity: 0;
      visibility: hidden;
      transition: 150ms ease;
    }

    &__slide {
      box-sizing: border-box;
      padding: 20px;
      width: 100%;
      height: 100%;
    }
    @include breakpointsMaxW($bp-576) {
      height: 190px;
    }

    img {
      @include img(contain);
    }
  }

  &__img {
    position: relative;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  &__star {
    fill: var(--color-yellow);
    width: 15px;
    height: 15px;

    svg {
      width: 100%;
      height: 100%;
    }

    &--disabled {
      fill: #d5d5d5;
    }
  }

  &__title {
    font-size: 15px;
    line-height: 1.1;
    color: #828a97;
    margin-bottom: 40px;
  }

  &__count {
    font-size: 13px;
    line-height: 1.1;
    color: #b6b6b6;
  }

  &__price-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__price {
    font-size: 23px;
    line-height: 1.1;
    font-weight: 600;
    color: #4f5d76;

    @include breakpointsMaxW($bp-576) {
      font-size: 15px;
      font-weight: 600;
      color: #4f5d76;
    }
  }

  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    @include breakpointsMaxW($bp-576) {
      grid-template-columns: 1fr;
    }
  }

  &__btn {
    font-size: 16px;
    font-weight: 700;
    padding: 18px 12px;

    @include breakpointsMaxW($bp-container) {
      font-size: 14px;
      padding: 12px 8px;
    }
    @include breakpointsMaxW($bp-576) {
      width: 100%;
    }

    &--buy {
      &:hover {
        background-color: var(--color-accent);
        color: var(--color-white);
      }
    }

    &--cart {
      padding-left: 45px;
      position: relative;
      width: 130px;
      @include breakpointsMaxW($bp-container) {
        font-size: 14px;
        padding-left: 30px;
        width: 110px;
      }
      @include breakpointsMaxW($bp-576) {
        width: 100%;
      }

      &::after {
        @include elDef();
        width: 20px;
        height: 20px;
        background-color: var(--color-white);
        left: 15px;
        top: 45%;
        transform: translateY(-50%);
        @include maskImage(url('../images/icons/basket.svg'), contain);
        @include breakpointsMaxW($bp-container) {
          left: 8px;
        }
        @include breakpointsMaxW($bp-576) {
          left: 40px;
        }
      }

      &:hover {
        &::after {
          background-color: var(--color-accent);
        }
      }
    }
  }

  &__length {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 250ms ease;
    z-index: 3;
  }

  &__details {
    position: absolute;
    top: 10px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 250ms ease;
    z-index: 2;
  }

  &--set {
    display: flex;
    gap: 20px;
    max-width: 100%;

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: center;
    }

    .product-card {
      &__img {
        max-width: 250px;
        width: 100%;
        height: 250px;
        @include breakpointsMaxW($bp-991) {
          max-width: 100%;
          img {
            width: 80%;
          }
        }
        @include breakpointsMaxW($bp-576) {
          height: 190px;
          img {
            width: 100%;
          }
        }
      }

      &__price {
        flex-shrink: 0;
      }
    }

    @include breakpointsMaxW($bp-576) {
      flex-direction: column;
      max-width: 300px;

      .product-card {
        &__img {
          max-width: 100%;
        }
      }
    }
  }

  .counter {
    @include breakpointsMaxW($bp-576) {
      width: 90px;
      height: 30px;

      &__input {
        height: 100%;
        width: 40px;
        font-size: 15px;
        line-height: 1;
      }
    }
  }
}

.length-box {
  &__name {
    display: block;
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 700;
    color: #80898d;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 58px);
    gap: 5px;

    @include breakpointsMaxW($bp-576) {
      grid-template-columns: repeat(4, 35px);
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #4f5d76;
    background-color: #f0f0f0;
    border-radius: 5px;
    height: 31px;
    padding: 5px;
    width: 100%;
    cursor: pointer;
    transition: 150ms ease-in;

    @include breakpointsMaxW($bp-576) {
      font-size: 9px;
    }

    &--active,
    &:hover {
      color: var(--color-white);
      background-color: var(--color-accent);
    }
  }
}

.details-box {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__btn {
    background-color: var(--color-white);
    border: 1px solid #eaedf1;
    border-radius: 5px;
    width: 34px;
    height: 34px;
    fill: #afb3bd;
    display: flex;
    align-items: center;
    justify-content: center;

    &--active,
    &:hover {
      fill: var(--color-accent);
    }

    svg {
      width: 19px;
      height: 19px;
    }
  }
}

.filter-box {
  padding: 30px;
  border: 2px solid #eceff4;
}

.catalog__filter-btn {
  display: none;

  @include breakpointsMaxW($bp-991) {
    display: block;
    margin-left: auto;
  }
}
