.choices {
  font-size: 15px;
  color: #8c9599;
  line-height: 1;
  height: 100%;
  width: 175px;
  background-color: transparent;
  color: var(--color-gray);
  margin-bottom: 0 !important;

  z-index: 8;

  &::before {
    @include elDef();
    width: 1px;
    height: 20px;
    background-color: #dadada;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__placeholder {
    opacity: 1;
  }

  &__inner {
    width: 100%;
    height: 100%;
    background-color: inherit !important;
    display: flex;
    align-items: center;
    position: relative;
    border: none;
    padding-left: 20px;
  }

  &::after {
    border: none !important;
    width: 12px !important;
    height: 6px !important;
    margin-top: 0 !important;

    mask-image: url('../images/icons/chevron.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: var(--color-gray);

    right: 15px !important;
    top: 20px !important;

    transition: 150ms ease-in;
  }

  &.is-open {
    &::after {
      transform: rotate(180deg);
    }
  }

  &__list {
    padding: 0;
    background-color: inherit;
    max-height: 130px;
    overflow-y: auto;

    .choices__item {
      background-color: inherit;
    }

    &--dropdown {
      z-index: 100;

      .choices__list {
        max-height: 130px !important;
      }

      .choices__item {
        position: relative;
        padding: 12px !important;
        padding-right: 0 !important;

        &:hover {
          background-color: var(--color-bg);
          color: var(--color-dark);
        }

        .choices__item--selectable {
          background-color: #ededed;
        }

        &.is-selected,
        &.is-highlighted {
          background-color: var(--color-dark-3);

          &:focus {
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
          }

          &:hover {
            background-color: var(--color-bg);
          }
        }
      }
    }
  }
}
