.footer {
  background-color: #172236;

  color: rgba(255, 255, 255, 0.5);

  &__top {
    padding: 50px 0;
    display: grid;
    grid-template-columns: minmax(auto, 550px) minmax(auto, 600px);
    justify-content: space-between;
    gap: 30px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: auto;
      justify-content: center;
    }
  }

  &__left {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpointsMaxW($bp-768) {
      display: none;
    }
    @include breakpointsMaxW($bp-576) {
      grid-template-columns: auto;
    }
  }

  &__right {
    display: grid;
    grid-template-columns: minmax(auto, 230px) auto;
    gap: 30px;
    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpointsMaxW($bp-768) {
      grid-template-columns: auto;
      text-align: center;
    }
  }
  &__name {
    font-size: 19px;
    line-height: 1.1;
    font-weight: 700;
    display: block;
    margin-bottom: 40px;
    color: var(--color-white);
  }

  &__link {
    transition: 150ms ease;
    display: block;
    font-size: 16px;
    line-height: 30px;

    &:hover {
      color: var(--color-white);
    }

    &--mail,
    &--address {
      padding-left: 30px;
      position: relative;

      &::after {
        @include elDef();
        width: 18px;
        height: 18px;
        background-color: #2f394a;
        top: 3px;
        left: 0;
      }

      &:hover {
        &::after {
          background-color: var(--color-white);
        }
      }
    }

    &--mail {
      margin-bottom: 10px;
      &::after {
        @include maskImage(url('../images/icons/mail.svg'), contain);
      }
    }
    &--address {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &::after {
        @include maskImage(url('../images/icons/location.svg'), contain);
      }
    }
  }
  &__data {
    @include breakpointsMaxW($bp-768) {
      .footer__list {
        max-width: 280px;
        text-align-last: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  &__time {
    padding-left: 52px;
    position: relative;
    color: rgba(255, 255, 255, 0.7);

    @include breakpointsMaxW($bp-768) {
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 30px;
      font-size: 14px;
      padding-left: 35px;
    }

    &::after {
      @include elDef();
      width: 38px;
      height: 38px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      @include maskImage(url('../images/icons/clock-2.svg'), contain);
      background-color: #374866;
    }
    margin-bottom: 30px;
  }

  &__phone {
    margin-bottom: 30px;
  }

  .socials {
    background-color: transparent;
    padding: 0;

    &__name {
      font-size: 19px;
      line-height: 1.1;
      font-weight: 700;
      color: var(--color-white);
      margin-bottom: 20px;
      display: block;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 36px);
      gap: 10px;
      @include breakpointsMaxW($bp-768) {
        justify-content: center;
        grid-template-columns: repeat(6, 35px);
      }
    }

    &__link {
      display: block;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      width: 36px;
      height: 36px;
      transition: 150ms ease;

      &::after {
        width: 18px;
        height: 18px;
        background-color: var(--color-white);
        transition: 150ms ease;
      }

      &:hover {
        background-color: var(--color-white);
        transform: scale(1.02);

        &::after {
          background-color: var(--color-accent);
        }
      }

      &--twitter {
        &::after {
          @include maskImage(url('../images/icons/twitter.svg'), contain);
        }
      }

      &--youtube {
        background-color: rgba(255, 255, 255, 0.1);
      }
      &--ok {
        &::after {
          @include maskImage(url('../images/icons/ok.svg'), contain);
        }
      }
    }
  }

  &__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 30px 0;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    @include breakpointsMaxW($bp-768) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      gap: 30px;
      height: 100%;
      @include breakpointsMaxW($bp-768) {
        flex-direction: row;
        padding: 30px 0;
        width: 100%;
      }
    }
  }

  &__up {
    width: 42px;
    height: 42px;
    fill: var(--color-white);
    background-color: var(--color-accent);
    border-radius: 10px;
    position: relative;
    transition: 150ms ease;

    &::after {
      transition: 150ms ease;
      @include elDef();
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(180deg);
      @include maskImage(url('../images/icons/chevron.svg'), contain);
      background-color: var(--color-white);
    }
    &:hover {
      background-color: var(--color-accent-light);
      &::after {
        background-color: var(--color-accent);
      }
    }
  }
}

.footer-nav {
  display: none;
  background-color: var(--color-white);
  color: var(--color-dark);
  padding: 12px 0;

  @include breakpointsMaxW($bp-991) {
    display: block;
  }

  &__wrapper {
    max-width: 330px;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__icon {
    fill: #8e98a9;
    margin-bottom: 5px;
  }

  &__name {
    font-size: 12px;
    line-height: 1.1;
    font-weight: 400;
    color: #8e98a9;
  }
}
