.form-submit {
  width: 100%;
  display: grid;
  gap: 25px;

  &__group {
    width: 100%;
  }

  &__input {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 15px;
    outline: transparent;
    transition: 150ms ease;
    color: var(--color-white);

    &:focus {
      border-color: var(--color-white);
    }

    &::placeholder {
      font-size: 17px;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__btn {
    max-width: 170px;

    @include breakpointsMaxW($bp-768) {
      margin: 0 auto;
    }
  }
}
