.top-nav {
  display: flex;
  align-items: center;
  gap: 30px;

  @include breakpointsMaxW($bp-container) {
    gap: calc(20px + (30 - 20) * ((100vw - 991px) / (1270 - 991)));
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 20px;
    padding-right: 20px;
    position: relative;

    @include breakpointsMaxW($bp-container) {
      padding-right: 10px;
      margin-right: 10px;
    }

    &::after {
      @include elDef();
      width: 1px;
      height: 90%;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #9ebbca;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      &::after {
        display: none;
      }
    }

    .dropmenu {
      transform: translateY(-10px);
      opacity: 0;
      visibility: hidden;
      z-index: 10;
      width: 200px;
      position: absolute;
      left: 0;
      top: 45px;
      background-color: var(--color-white);
      box-shadow: 0px 19px 51px 0px rgba(53, 56, 62, 0.23);
      border-radius: 10px;
      padding: 0 21px;
      transition: 450ms ease;
      transition-delay: 150ms;

      &:hover {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }

      &__item {
        border-bottom: 1px solid #ebebeb;
        position: relative;

        &:last-child {
          border-bottom: none;
        }
      }

      &__link {
        display: block;
        width: 100%;
        color: var(--color-dark);
        padding: 12px 0;
        transition: 150ms ease;
        position: relative;
        padding-right: 20px;

        &:hover {
          color: var(--color-accent);

          &::after {
            background-color: var(--color-accent);
            transform: translateY(-50%) translateX(3px) rotate(-90deg);
          }
        }
      }
    }
  }

  &__link {
    font-size: 15px;
    color: #667780;
    padding-left: 20px;
    position: relative;

    @include breakpointsMaxW($bp-container) {
      font-size: calc(13px + (15 - 13) * ((100vw - 991px) / (1270 - 991)));
    }

    &::before {
      @include elDef();
      width: 14px;
      height: 14px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #667780;
    }

    &--dropdown {
      padding-right: 15px;
      position: relative;
      border-radius: 5px;

      &::after {
        @include elDef();
        width: 8px;
        height: 8px;
        right: 0;
        top: 40%;
        transform: translateY(-50%);
        @include maskImage(url('../images/icons/chevron.svg'), 100%);
        background-color: var(--color-dark);
      }

      &:hover {
        &::after {
          background-color: var(--color-accent);
        }

        & + .dropmenu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }

    &:hover {
      color: var(--color-black);

      &::before {
        background-color: var(--color-black);
      }
    }

    &--navigation {
      &::before {
        @include maskImage(url('../images/icons/navigation.svg'), contain);
      }
    }
    &--location {
      &::before {
        @include maskImage(url('../images/icons/location.svg'), contain);
      }
    }
    &--clock {
      &::before {
        @include maskImage(url('../images/icons/clock.svg'), contain);
      }
    }
    &--mail {
      &::before {
        @include maskImage(url('../images/icons/mail.svg'), contain);
      }
    }
    &--empty {
      padding-left: 0;
      &::before {
        display: none;
      }
    }
  }

  &__btn {
    margin-left: auto;
  }
}
