.reviews {
  @include adaptive-value('padding-top', 50, 40, 1);
  @include adaptive-value('padding-bottom', 70, 40, 1);

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    @include adaptive-value('margin-bottom', 35, 20, 1);
  }

  &__grade-box {
    @include adaptive-value('margin-bottom', 60, 40, 1);
  }
  &__list {
    display: grid;
    gap: 110px;

    @include adaptive-value('gap', 110, 50, 1);
    @include adaptive-value('margin-bottom', 60, 40, 1);
  }
}

.grade-box {
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  @include adaptive-value('padding', 50, 20, 1);

  @include breakpointsMaxW($bp-768) {
    grid-template-columns: auto;
    justify-content: center;
  }

  &__star-big {
    fill: var(--color-yellow);
    position: relative;
    width: 265px;
    height: 265px;
    @include adaptive-value('width', 256, 130, 1);
    @include adaptive-value('height', 256, 130, 1);

    @include breakpointsMaxW($bp-768) {
      margin: 0 auto;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    font-weight: 800;
    color: var(--color-white);
    @include adaptive-value('font-size', 112, 48, 1);
  }

  &__grade {
    display: flex;
    align-items: center;
    gap: 35px;

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: flex-start;
    }
    @include breakpointsMaxW($bp-768) {
      margin: 0 auto;
      text-align: center;
    }
  }

  &__descr {
    max-width: 250px;
    @include breakpointsMaxW($bp-768) {
      margin: 0 auto;
    }
  }

  &__list {
    display: grid;
    gap: 35px;
    @include breakpointsMaxW($bp-768) {
      width: 100%;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: auto 125px 55px;
    gap: 15px;
    @include breakpointsMaxW($bp-768) {
      gap: 10px;
      grid-template-columns: auto 100px 45px;
    }
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    justify-content: space-between;

    @include breakpointsMaxW($bp-768) {
      gap: 3px;
    }
  }

  &__star {
    fill: var(--color-yellow);
    width: 20px;
    height: 20px;
    svg {
      width: 100%;
      height: 100%;
    }
    @include breakpointsMaxW($bp-768) {
      width: 15px;
      height: 15px;
    }
  }

  &__mark {
    font-size: 18px;
    line-height: 1.1;
    font-weight: 500;
    padding: 9px 22px;
    color: var(--color-accent);
    background-color: var(--color-accent-light);
    border-radius: 5px;
    width: 100%;
    @include breakpointsMaxW($bp-768) {
      padding: 7px 15px;
      text-align: center;
    }
  }

  &__name {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 1.1;
    font-weight: 500;
    color: #515151;

    @include adaptive-value('font-size', 18, 15, 1);
  }
}

.reviews-card {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 90px;
  align-items: center;
  @include adaptive-value('gap', 90, 30, 1);

  @include breakpointsMaxW($bp-768) {
    grid-template-columns: auto;
  }

  &__images {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__imsge {
    width: 53px;
    height: 53px;
    
    img {
      @include img(cover);
      border-radius: 5px;
    }
  }

  &__left {
    width: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include breakpointsMaxW($bp-768) {
      flex-direction: row;
      width: auto;
      gap: 30px;
      margin: 0 auto;
    }
  }

  &__img {
    width: 60px;
    height: 60px;
    margin-bottom: 12px;
    @include breakpointsMaxW($bp-768) {
      width: 100px;
      height: 100px;
    }

    img {
      @include img(cover);
      border-radius: 50%;
    }
  }

  &__name {
    font-size: 21px;
    line-height: 1.05;
    font-weight: 600;
    color: #40444a;
    display: inline-block;
    margin-bottom: 5px;
  }

  &__date {
    margin-bottom: 16px;
    color: #989b9f;
    font-size: 12px;
  }

  &__grade {
    color: #c8c8c8;
    span {
      display: inline-block;
      margin-bottom: 5px;
    }
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
  }

  &__star {
    fill: var(--color-yellow);
  }

  &__text {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 35px 45px;
    color: #636466;
    position: relative;
    @include adaptive-value('padding-top', 35, 20, 1);
    @include adaptive-value('padding-bottom', 35, 20, 1);
    @include adaptive-value('padding-left', 45, 20, 1);
    @include adaptive-value('padding-right', 45, 20, 1);
    margin-bottom: 15px;

    &::after {
      @include elDef();
      width: 26px;
      height: 40px;
      top: 50%;
      transform: translateY(-50%);
      left: -26px;
      @include backgroundImage(
        url('../images/content/triangle-review.png'),
        contain
      );

      @include breakpointsMaxW($bp-768) {
        top: -15px;
        left: 50%;
        transform: translateX(-50%) rotate(-55deg);
      }
    }
  }

  &__right {
    margin-bottom: 20px;
  }
}

.reviews-answer {
  &__inner {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 30px;
    align-items: center;
    padding-left: 190px;

    @include breakpointsMaxW($bp-768) {
      padding-left: 0;
    }

    @include breakpointsMaxW($bp-360) {
      grid-template-columns: auto;
    }
    margin-bottom: 15px;
  }

  &__left {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include breakpointsMaxW($bp-360) {
      flex-direction: row;
      width: auto;
      gap: 30px;
      margin: 0 auto;
    }
  }
  &__img {
    width: 60px;
    height: 60px;
    margin-bottom: 12px;
    flex-shrink: 0;

    img {
      @include img(cover);
      border-radius: 50%;
    }
  }
  &__stars {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
  }

  &__star {
    fill: var(--color-yellow);
  }

  &__name {
    font-size: 16px;
    line-height: 1.05;
    font-weight: 600;
    color: var(--color-accent);
    display: inline-block;
    margin-bottom: 5px;
    width: 150px;
    line-height: 1.3;
  }

  &__date {
    margin-bottom: 16px;
    color: #989b9f;
    font-size: 12px;
  }

  &__text {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 35px 45px;
    color: #636466;
    position: relative;
    @include adaptive-value('padding-top', 35, 20, 1);
    @include adaptive-value('padding-bottom', 35, 20, 1);
    @include adaptive-value('padding-left', 45, 20, 1);
    @include adaptive-value('padding-right', 45, 20, 1);
    margin-bottom: 15px;

    &::after {
      @include elDef();
      width: 26px;
      height: 40px;
      top: 50%;
      transform: translateY(-50%);
      left: -26px;
      @include backgroundImage(
        url('../images/content/triangle-review.png'),
        contain
      );

      @include breakpointsMaxW($bp-360) {
        top: -15px;
        left: 50%;
        transform: translateX(-50%) rotate(-55deg);
      }
    }
  }

  &__btn {
    margin-left: 40px;
    width: 130px;
    display: block;
    @include breakpointsMaxW($bp-576) {
      margin-left: 20px;
    }
    @include breakpointsMaxW($bp-360) {
      margin: 0 auto;
    }
  }
}
