.services {
  @include adaptive-value('padding-top', 60, 30, 1);
  @include adaptive-value('padding-bottom', 70, 40, 1);

  &__list {
    display: grid;
    @include adaptive-value('gap', 55, 30, 1);
  }

  &__item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding-left: 130px;
    position: relative;
    @include adaptive-value('gap', 20, 10, 1);
    @include adaptive-value('padding-left', 130, 50, 1);
  }

  &__heading {
    font-size: 21px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    color: #424750;
  }

  &__count {
    position: absolute;
    font-size: 71px;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    color: #eff1f5;
    left: 0;
    top: 2px;
    max-width: 70px;
    display: flex;
    align-items: center;
    @include adaptive-value('font-size', 71, 35, 1);

    span {
      color: var(--color-accent);
    }
  }

  &__text {
    span {
      color: var(--color-accent);
    }
  }
}
