.stock {
  @include adaptive-value('padding-top', 80, 40, 1);
  @include adaptive-value('padding-bottom', 80, 40, 1);

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    @include adaptive-value('gap', 60, 30, 1);
    align-items: center;
    justify-content: space-between;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    @include adaptive-value('font-size', 33, 23, 1);
    margin-bottom: 10px;

    span {
      color: var(--color-accent);
    }
  }

  &__preview {
    @include background(cover);
    border-radius: 0px 150px;
    height: 395px;

    @include breakpointsMaxW($bp-container) {
      height: calc(300px + (395 - 300) * ((100vw - 991px) / (1270 - 991)));
      border-radius: 0 100px;
    }

    @include breakpointsMaxW($bp-991) {
      height: calc(235px + (395 - 235) * ((100vw - 375px) / (991 - 375)));
      order: 1;
    }

    @include breakpointsMaxW($bp-768) {
      border-radius: 0px 50px;
    }
  }
}
