<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>

    <ul class="advantages__list">
      <li class="advantages__item advantages__item--available">
        <h3 class="advantages__heading">
          96% продукции в наличии на нашем складе
        </h3>
        <div class="advantages__text">
          <p>Ваш заказ мы отгружаем в день его поступления</p>
        </div>
      </li>
      <li class="advantages__item advantages__item--sms">
        <h3 class="advantages__heading">
          Вы всегда знаете что с Вашим заказом
        </h3>
        <div class="advantages__text">
          <p>Автоматическое SMS и Email информирование о статусе заказа</p>
        </div>
      </li>
      <li class="advantages__item advantages__item--box">
        <h3 class="advantages__heading">Качественная и надежная упаковка</h3>
        <div class="advantages__text">
          <p>Товары придут к Вам в целости и сохранности</p>
        </div>
      </li>
      <li class="advantages__item advantages__item--price">
        <h3 class="advantages__heading">Лучшие цены на рынке косметики</h3>
        <div class="advantages__text">
          <p>Минимально возможные цены для оф.продукции с документами</p>
        </div>
      </li>
    </ul>
  </div>
</section>
