<section class="delivery-post delivery-post--courier">
  <div class="container">
    <div class="delivery-post__wrapper">
      <div class="delivery-post__offer">
        <h2 class="delivery-post__title section-title">Курьерская доставка</h2>

        <ul class="delivery-post__list">
          <li class="delivery-post__item">
            Вы оформляете заказ (любым удобным способом: через корзину, по
            телефону, через чат, письмом на электронную почту)
            <span class="delivery-post__item-count">01</span>
          </li>
          <li class="delivery-post__item">
            С Вами связывается менеджер для подтверждения заказа и уточнения
            удобного способа доставки
            <span class="delivery-post__item-count">02</span>
          </li>
          <li class="delivery-post__item">
            Происходит сборка Вашего заказа и передача в курьерскую службу
            <span class="delivery-post__item-count">03</span>
          </li>
          <li class="delivery-post__item">
            После отгрузки Вашего заказа курьерской службе Вам приходит SMS- и
            Email-уведомление с трек-номером отправления Вашего заказа
            <span class="delivery-post__item-count">04</span>
          </li>
          <li class="delivery-post__item">
            В день доставки с Вами предварительно связывается курьер для
            подтверждения адреса и времени доставки
            <span class="delivery-post__item-count">05</span>
          </li>
          <li class="delivery-post__item">
            По оговоренному адресу и времени курьер привозит Вам посылку.
            <span class="delivery-post__item-count">06</span>
          </li>
        </ul>
      </div>

      <div
        class="delivery-post__preview"
        style="background-image: url('images/content/delivery/courier.jpg')"
      ></div>
    </div>
  </div>
</section>
