<section class="descr-article">
  <div class="container">
    <div class="descr-article__top">
      <h2 class="descr-article__title section-title">
        Коррекция проблем периорбитальной области с использованием
        <span> инъекционных методик</span>
      </h2>
      <div class="descr-article__img">
        <img src="images/content/descr-article.jpg" alt="Коррекция " />
      </div>
    </div>

    <div class="descr-article__inner">
      <div class="descr-article__text">
        Кожа вокруг глаз подвержена быстрому старению: она тонкая,
        чувствительная, на нее ложится большая функциональная нагрузка, в то
        время как правильный уход за этой зоной, помогающий сохранить ее красоту
        и молодость, выполняют немногие. Если инволютивные и иные изменения уже
        затронули кожу, исправить это можно при помощи инъекций.
      </div>
      <div class="descr-article__box">
        <h3 class="descr-article__heading">
          Причины изменения кожи в зоне вокруг глаз
        </h3>
        <div class="descr-article__text">
          <p>Старение происходит под влиянием внутренних и внешних факторов:</p>
        </div>

        <ul class="descr-article__list">
          <li class="descr-article__item">
            • естественные причины, связанные с общим старением организма;
          </li>
          <li class="descr-article__item">
            • фотостарение, происходящее под влиянием ультрафиолета;
          </li>
          <li class="descr-article__item">
            • механическое травмирование кожи, например, растягивание из-за
            отеков.
          </li>
        </ul>
        <div class="descr-article__text">
          <p>
            Существуют и другие причины раннего увядания кожи, связанные с
            применением некачественной косметики, неправильным образом жизни,
            плохим питанием, дефицитом сна, и т.д.
          </p>
        </div>
        <div class="descr-article__text">
          <p>
            Все изменения, происходящие с кожей в этой области можно условно
            разделить на:
          </p>
        </div>
        <ul class="descr-article__list">
          <li class="descr-article__item">• мимические морщины;</li>
          <li class="descr-article__item">• гравитационный птоз;</li>
          <li class="descr-article__item">
            • метаболические нарушения: задержка жидкости, пигментация и др.
          </li>
        </ul>
        <div class="descr-article__text">
          <p>
            Первые эстетические изъяны могут появляться до достижения человеком
            20-летнего возраста, но в большинстве случаев активное старение
            начинается после 30 лет. При тщательном ежедневном уходе и
            правильном образе жизни можно продлить период молодости, но если
            сделать этого не удалось, можно прибегнуть к помощи косметолога и
            выполнить инъекционные процедуры.
          </p>
        </div>
      </div>
      <div class="descr-article__box">
        <h3 class="descr-article__heading">Когда стоит выполнять инъекции?</h3>

        <div class="descr-article__text">
          <p>
            Уколы может делать только косметолог с соответствующим опытом и
            образованием. Показанием для коррекции периорбитальной области
            является не возраст пациента, а конкретные изменения и желание
            человека исправить изъян и вернуть лицу молодой вид.
          </p>
        </div>
        <div class="descr-article__text">
          <p>
            еред инъекционной коррекцией важно выявить противопоказания.
            Несмотря на то, что выполненные специалистом в стерильных условиях
            процедуры являются полностью безопасными, но отказаться от них
            рекомендуется при:
          </p>
          <p>........</p>
        </div>
      </div>
    </div>
  </div>
</section>
