<section class="descr-overview">
  <div class="container">
    <div class="descr-overview__top">
      <h2 class="descr-overview__title section-title">
        Подарок на Новый Год! Набор косметики GIGI
      </h2>
    </div>

    <div class="descr-overview__content">
      <div class="descr-overview__video video">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/4i5FRz2rsfA"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="descr-overview__text">
        <p>
          В данном видео мы расскажем о подарочном наборе косметики от GIGI,
          BIOPLASMA (ДжиДжи, Биоплазма). Если вы не знаете, что подарить
          косметологу или просто женщине, это прекрасный вариант подарка и
          отличный вариант пробной версии большого набора!
        </p>
      </div>
    </div>
  </div>
</section>
