<section
  class="newsletter"
  style="background-image: url('images/content/newsletter.jpg')"
>
  <div class="container">
    <div class="newsletter__wrapper">
      <div class="newsletter__offer">
        <h2 class="newsletter__title"><span>ПОДПИШИТЕСЬ</span> НА РАССЫЛКУ</h2>
        <div class="newsletter__text">
          <p>И получите скидку на первый заказ в размере 10%!</p>
        </div>
      </div>
      <div class="newsletter__form">
        <form class="form-submit">
          <div class="form-submit__group">
            <input
              class="form-submit__input"
              type="text"
              name="name"
              placeholder="Ваше имя"
              required
            />
          </div>
          <div class="form-submit__group">
            <input
              class="form-submit__input"
              type="email"
              name="email"
              placeholder="Ваш e-mail"
              required
            />
          </div>
          <div class="form-submit__group">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" required />
              <span class="checkbox__box"></span>
              <span class="checkbox__text">
                Я прочитал <a href="#"> Политика безопасности </a> и согласен с
                условиями
              </span>
            </label>
          </div>

          <button class="form-submit__btn btn" type="submit">Подписаться</button>
        </form>
      </div>
    </div>
  </div>
</section>
