<section class="product">
  <div class="container">
    <h2 class="product__title section-title">
      Мезороллер с титановыми позолоченными микроиглами, 540 игл, 0,5 мм
    </h2>
    <div class="product__wrapper">
      <div class="product__slider">
        <div class="slider-thumbs">
          <div class="slider-thumbs__nav swiper" id="slider-nav">
            <ul class="swiper-wrapper">
              <li class="swiper-slide slider-nav__slide">
                <img
                  src="images/content/product-card/1-small.png"
                  alt="Слайд №1"
                />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img
                  src="images/content/product-card/2-small.png"
                  alt="Слайд №1"
                />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img
                  src="images/content/product-card/3-small.png"
                  alt="Слайд №1"
                />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img
                  src="images/content/product-card/4-small.png"
                  alt="Слайд №1"
                />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <button
                  class="slider-thumbs__nav-play"
                  data-fancybox
                  data-src="https://www.youtube.com/watch?v=Zv11L-ZfrSg&t=147s"
                  data-caption="Hello world"
                ></button>
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img
                  src="images/content/product-card/2-small.png"
                  alt="Слайд №1"
                />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img
                  src="images/content/product-card/3-small.png"
                  alt="Слайд №1"
                />
              </li>
            </ul>

            <div class="slider-thumbs__nav-control">
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>

          <div class="slider-thumbs__main swiper" id="slider-main">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="images/content/product-card/1-big.png"
                >
                  <img
                    src="images/content/product-card/1-big.png"
                    alt="Слайд №1"
                  />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="images/content/product-card/1-big.png"
                >
                  <img
                    src="images/content/product-card/1-big.png"
                    alt="Слайд №1"
                  />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="images/content/product-card/1-big.png"
                >
                  <img
                    src="images/content/product-card/1-big.png"
                    alt="Слайд №1"
                  />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="images/content/product-card/1-big.png"
                >
                  <img
                    src="images/content/product-card/1-big.png"
                    alt="Слайд №1"
                  />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="images/content/product-card/1-big.png"
                >
                  <img
                    src="images/content/product-card/1-big.png"
                    alt="Слайд №1"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="product__right">
        <div class="product__info product-info">
          <div class="product-info__top">
            <div class="product-info__rating">
              <ul class="product-info__stars">
                <li class="product-info__star">
                  <svg width="15" height="15">
                    <use xlink:href="images/sprite.svg#star"></use>
                  </svg>
                </li>
                <li class="product-info__star">
                  <svg width="15" height="15">
                    <use xlink:href="images/sprite.svg#star"></use>
                  </svg>
                </li>
                <li class="product-info__star">
                  <svg width="15" height="15">
                    <use xlink:href="images/sprite.svg#star"></use>
                  </svg>
                </li>
                <li class="product-info__star">
                  <svg width="15" height="15">
                    <use xlink:href="images/sprite.svg#star"></use>
                  </svg>
                </li>
                <li class="product-info__star product-info__star--disabled">
                  <svg width="15" height="15">
                    <use xlink:href="images/sprite.svg#star"></use>
                  </svg>
                </li>
              </ul>

              <span class="product-info__rating-count">(1)</span>
            </div>
            <div class="product-info__actions">
              <button
                class="product-info__action product-info__action--favorite"
                type="button"
                aria-label="Нравится"
              ></button>
              <button
                class="product-info__action product-info__action--filter"
                type="button"
                aria-label="Фильтр"
              ></button>
            </div>
          </div>
          <div class="product-info__undertop">
            <div class="product-info__reg">
              <p>
                Цента доступна после
                <a href="#"> регистраии </a>
              </p>
            </div>
            <div class="product-info__details">
              <div class="product-info__row">
                <div class="product-info__row-left"><p>Производитель:</p></div>
                <div
                  class="product-info__row-right product-info__row-right--brand"
                >
                  <p>МТ MEZOROLLERS</p>
                </div>
              </div>
              <div class="product-info__row">
                <div class="product-info__row-left"><p>Наличие:</p></div>
                <div
                  class="product-info__row-right product-info__row-right--stock"
                >
                  <p>В наличии:</p>
                </div>
              </div>
            </div>
          </div>
          <div class="product-info__length length">
            <span class="length__name">Длина игл</span>
            <ul class="length__list">
              <li class="length__item">1 мм</li>
              <li class="length__item length__item--active">0.5 мм</li>
              <li class="length__item">1.5 мм</li>
              <li class="length__item">2 мм</li>
            </ul>
          </div>
          <div class="product-info__order order-goods">
            <div class="order-goods__left">
              <div class="order-goods__counter counter">
                <button
                  class="counter__btn counter__btn--decrease"
                  type="button"
                  aria-label="Добавить"
                >
                  -
                </button>
                <input class="counter__input" type="number" value="1" />
                <button
                  class="counter__btn counter__btn--increase"
                  type="button"
                  aria-label="Вычесть"
                >
                  +
                </button>
              </div>

              <div class="order-goods__btns">
                <button class="order-goods__btn btn order-goods__btn--cart">
                  В корзину
                </button>
                <button class="order-goods__btn btn btn--light">
                  Купить в 1 клик
                </button>
                <button class="order-goods__btn btn">Нашли дешевле?</button>
              </div>
            </div>
            <div class="order-goods__info">
              <span class="order-goods__name"
                >Информация о доставке даного товара в Москва</span
              >
              <div class="order-goods__text">
                <p>
                  Окончательная стоимость доставки заказа будет расчитана в
                  корзине.
                </p>
              </div>

              <ul class="order-goods__list">
                <li class="order-goods__item order-goods__item--post">
                  <p><strong>Почто России до склада</strong> - 200 ₽</p>
                  <p>От 5000 руб. - бесплатно (до 3 кг)</p>
                </li>
                <li class="order-goods__item order-goods__item--courier">
                  <p><strong> Курьером (1-2 раб. дня)</strong> - 200 ₽</p>
                  <p>От 2000 руб. - бесплатно (до 3 кг)</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
