<section class="services">
  <div class="container">
    <h2 class="visually-hidden">Услуги</h2>

    <ul class="services__list">
      <li class="services__item">
        <div class="services__count">
          0
          <span>1</span>
        </div>
        <h3 class="heading">Мезотерапия</h3>
        <div class="services__text">
          <p>
            В этом разделе Вы найдете всё, что связано с мезотерапией:
            иглы/инжекторы для мезотерапии,
            <span>дермапены, мезороллеры</span> для лица, тела, волос,
            мезококтейли, косметика для мезороллеров, средства пост-ухода,
            дезинфекция и обезболивание для проведения процедуры. Мы также можем
            предложить Вам аппараты для фракционной мезотерапии такие как
            Dermapen (Дермапен) My-M, Dermapen ( Дермапен) Dr.Pen и другие, с
            помощью которых Вы сможете качественно провести процедуру
            микроигольчатой мезоротерапии, как дома, так и в салоне. В продаже
            также имеются стерильные картриджи к этим аппаратам. В разделе очень
            много подробных инструкций по применению и проведению процедур
            мезотерапии; алгоритмов по применению мезопрепаратов . Если Вам
            этого покажется мало всегда на связи наши консультанты-косметологи.
          </p>
        </div>
      </li>
      <li class="services__item">
        <div class="services__count">
          0
          <span>2</span>
        </div>
        <h3 class="heading">Уходовая косметика</h3>
        <div class="services__text">
          <p>
            это очень большой раздел, объединяющий в себе такие направления как
            косметика для лица, тела, волос, рук и ног. Здесь Вы сможете купить
            всё: от <span>альгинатных масок</span> до косметики с гиалуроновой
            кислотой . Широкая линейка шампуней и уходовых средств для волос
            известных брендов не может не радовать наших клиентов.
          </p>
        </div>
      </li>
      <li class="services__item">
        <div class="services__count">
          0
          <span>3</span>
        </div>
        <h3 class="heading">Косметологические аппараты</h3>
        <div class="services__text">
          <p>
            этот раздел включает в себя аппаратную косметику и аппараты для дома
            и салонов красоты. Здесь представлено косметологическое оборудование
            для микротоков, миостимуляции, RF-лифтинга, электропорации, аппараты
            для ультразвуковой чистки, фонофореза и многое другое. Среди
            косметики для проведения аппаратных процедур Вы сможете найти как
            гели антицеллюлитные, так и сыворотки с гиалуроновой кислотой от
            морщин.
          </p>
        </div>
      </li>
      <li class="services__item">
        <div class="services__count">
          0
          <span>4</span>
        </div>
        <h3 class="heading">Прочее</h3>
        <div class="services__text">
          <p>
            этот раздел объединил в себе такие направления как
            <span>пилинг</span> (для лица, тела, как химический, так и скрабы )
            и расходные материалы для различных процедур. Это специфические
            разделы, которые требуют дополнительной консультации наших
            специалистов.
          </p>
        </div>
      </li>
      <li class="services__item">
        <div class="services__count">
          0
          <span>4</span>
        </div>
        <h3 class="heading">Бренды</h3>
        <div class="services__text">
          <p>
            это раздел, в котором для простоты поиска продукции она разделена на
            бренды. Каждый бренд в дальнейшем делится на внутренние подкатегории
            с видами косметики. Все бренды идут в алфавитном порядке, и Вам не
            составит труда найти интересующего Вас производителя, например,
            Florylis, <span>Dermaheal</span> , <span> Kosmoteros </span> ,
            <span> Gigi</span>, Veluderm и многих других.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
