<section class="similar-articles">
  <div class="container">
    <div class="news-tabs">
      <div class="news-tabs__content">
        <div class="news-tabs__arrows arrows-slider">
          <button
            class="swiper-button-prev"
            type="button"
            aria-label="Предыдущий"
          ></button>
          <button
            class="swiper-button-next"
            type="button"
            aria-label="Следующий"
          ></button>
        </div>

        <div class="news-tabs__slider swiper">
          <ul class="news-tabs__slides swiper-wrapper">
            <li class="news-tabs__slide swiper-slide">
              <article class="overview-card">
                <div class="overview-card__img">
                  <img src="images/content/overview/1.jpg" alt="Распродажа" />
                </div>
                <div class="overview-card__info">
                  <h3 class="overview-card__title">
                    <a href="descr-overview.html" target="_blank">Подарок на Новый Год! Набор косметики GIGI</a>
                  </h3>
                  <div class="overview-card__text">
                    <p>
                      В данном видео мы расскажем о подарочном наборе косметики
                      от GIGI, BIOPLASMA (ДжиДжи, Биоплазма). Если вы не знаете,
                      что подарить косметологу или просто женщине, это
                      прекрасный вариант подарка и отличный вариант пробной
                      версии большого набора! ..
                    </p>
                  </div>
                  <div class="overview-card__bottom">
                    <a
                      data-fancybox
                      data-src="https://www.youtube.com/watch?v=4i5FRz2rsfA"
                      data-caption="Hello world"
                      href="button"
                      aria-label="Смотреть"
                      class="overview-card__play"
                    ></a>
                  </div>
                </div>
              </article>
            </li>
            <li class="news-tabs__slide swiper-slide">
              <article class="overview-card">
                <div class="overview-card__img">
                  <img src="images/content/overview/2.jpg" alt="Подарок" />
                </div>
                <div class="overview-card__info">
                  <h3 class="overview-card__title">
                    <a href="descr-overview.html" target="_blank"
                      >Подарок на Новый Год! Набор косметики GIGI</a
                    >
                  </h3>
                  <div class="overview-card__text">
                    <p>
                      В данном видео мы расскажем о подарочном наборе косметики
                      от GIGI, BIOPLASMA (ДжиДжи, Биоплазма). Если вы не знаете,
                      что подарить косметологу или просто женщине, это
                      прекрасный вариант подарка и отличный вариант пробной
                      версии большого набора! ..
                    </p>
                  </div>
                  <div class="overview-card__bottom">
                    <a
                      data-fancybox
                      data-src="https://www.youtube.com/watch?v=nD7xhG46v74"
                      data-caption="Hello world"
                      href="button"
                      aria-label="Смотреть"
                      class="overview-card__play"
                    ></a>
                  </div>
                </div>
              </article>
            </li>
            <li class="news-tabs__slide swiper-slide">
              <article class="overview-card">
                <div class="overview-card__img">
                  <img src="images/content/overview/2.jpg" alt="Подарок" />
                </div>
                <div class="overview-card__info">
                  <h3 class="overview-card__title">
                    <a href="descr-overview.html" target="_blank">Подарок на Новый Год! Набор косметики GIGI</a>
                  </h3>
                  <div class="overview-card__text">
                    <p>
                      В данном видео мы расскажем о подарочном наборе косметики
                      от GIGI, BIOPLASMA (ДжиДжи, Биоплазма). Если вы не знаете,
                      что подарить косметологу или просто женщине, это
                      прекрасный вариант подарка и отличный вариант пробной
                      версии большого набора! ..
                    </p>
                  </div>
                  <div class="overview-card__bottom">
                    <a
                      data-fancybox
                      data-src="https://www.youtube.com/watch?v=nD7xhG46v74"
                      data-caption="Hello world"
                      href="button"
                      aria-label="Смотреть"
                      class="overview-card__play"
                    ></a>
                  </div>
                </div>
              </article>
            </li>
            <li class="news-tabs__slide swiper-slide">
              <article class="overview-card">
                <div class="overview-card__img">
                  <img src="images/content/overview/1.jpg" alt="Распродажа" />
                </div>
                <div class="overview-card__info">
                  <h3 class="overview-card__title">
                    <a href="descr-overview.html" target="_blank">Подарок на Новый Год! Набор косметики GIGI</a>
                  </h3>
                  <div class="overview-card__text">
                    <p>
                      В данном видео мы расскажем о подарочном наборе косметики
                      от GIGI, BIOPLASMA (ДжиДжи, Биоплазма). Если вы не знаете,
                      что подарить косметологу или просто женщине, это
                      прекрасный вариант подарка и отличный вариант пробной
                      версии большого набора! ..
                    </p>
                  </div>
                  <div class="overview-card__bottom">
                    <a
                      data-fancybox
                      data-src="https://www.youtube.com/watch?v=4i5FRz2rsfA"
                      data-caption="Hello world"
                      href="button"
                      aria-label="Смотреть"
                      class="overview-card__play"
                    ></a>
                  </div>
                </div>
              </article>
            </li>
            <li class="news-tabs__slide swiper-slide">
              <article class="overview-card">
                <div class="overview-card__img">
                  <img src="images/content/overview/1.jpg" alt="Распродажа" />
                </div>
                <div class="overview-card__info">
                  <h3 class="overview-card__title">
                    <a href="descr-overview.html" target="_blank">Подарок на Новый Год! Набор косметики GIGI</a>
                  </h3>
                  <div class="overview-card__text">
                    <p>
                      В данном видео мы расскажем о подарочном наборе косметики
                      от GIGI, BIOPLASMA (ДжиДжи, Биоплазма). Если вы не знаете,
                      что подарить косметологу или просто женщине, это
                      прекрасный вариант подарка и отличный вариант пробной
                      версии большого набора! ..
                    </p>
                  </div>
                  <div class="overview-card__bottom">
                    <a
                      data-fancybox
                      data-src="https://www.youtube.com/watch?v=4i5FRz2rsfA"
                      data-caption="Hello world"
                      href="button"
                      aria-label="Смотреть"
                      class="overview-card__play"
                    ></a>
                  </div>
                </div>
              </article>
            </li>
            <li class="news-tabs__slide swiper-slide">
              <article class="overview-card">
                <div class="overview-card__img">
                  <img src="images/content/overview/1.jpg" alt="Распродажа" />
                </div>
                <div class="overview-card__info">
                  <h3 class="overview-card__title">
                    <a href="descr-overview.html" target="_blank">Подарок на Новый Год! Набор косметики GIGI</a>
                  </h3>
                  <div class="overview-card__text">
                    <p>
                      В данном видео мы расскажем о подарочном наборе косметики
                      от GIGI, BIOPLASMA (ДжиДжи, Биоплазма). Если вы не знаете,
                      что подарить косметологу или просто женщине, это
                      прекрасный вариант подарка и отличный вариант пробной
                      версии большого набора! ..
                    </p>
                  </div>
                  <div class="overview-card__bottom">
                    <a
                      data-fancybox
                      data-src="https://www.youtube.com/watch?v=4i5FRz2rsfA"
                      data-caption="Hello world"
                      href="button"
                      aria-label="Смотреть"
                      class="overview-card__play"
                    ></a>
                  </div>
                </div>
              </article>
            </li>
          </ul>

          <div class="swiper-scrollbar"></div>
        </div>
      </div>
    </div>
  </div>
</section>
