<div class="spec-product">
  <div class="container">
    <div class="spec-tabs">
      <div class="spec-tabs__top">
        <ul class="spec-tabs__top-list">
          <li class="spec-tabs__top-item">
            <button
              class="spec-tabs__top-btn spec-tabs__top-btn--active"
              type="button"
            >
              Описание
            </button>
          </li>
          <li class="spec-tabs__top-item">
            <button class="spec-tabs__top-btn" type="button">Видео</button>
          </li>
          <li class="spec-tabs__top-item">
            <button class="spec-tabs__top-btn" type="button">Отзывы</button>
          </li>
          <li class="spec-tabs__top-item">
            <button class="spec-tabs__top-btn" type="button">
              Вопрос косметологу
            </button>
          </li>
          <li class="spec-tabs__top-item">
            <button class="spec-tabs__top-btn" type="button">Скачать</button>
          </li>
        </ul>
      </div>
      <div class="spec-tabs__content active">
        <div class="spec-tabs__text">
          <p>
            Купить мезороллер для лица фирмы МТ Rollers с титановыми
            позолоченными микроиглами в нашем интернет-магазине. Купить
            мезороллер для лица Вы можно очень просто – оформив заказ у нас на
            сайте. Особенностью это мезороллера для лица является увеличенное
            количество игл на барабане - 540 игл, таким образом процедура,
            проводимая с его использованием становится более эффективной.
          </p>
          <p>
            Мезороллер для лица МТ предназначен только для индивидуального
            использования.
          </p>
          <p>
            Длина микроигл в диапазоне от 0,5 мм до 2,0 мм обеспечивает
            необходимый уровень прокалывания кожи, а лазерная заточка позволяет
            делать точные и качественные проколы. На титановые микроиглы
            мезороллера для лица МТ нанесено позолоченное покрытие, которое
            позволяет избежать инфекций при работе.
          </p>
          <p>
            Еще одной немаловажной особенностью мезороллера для лица МТ являются
            титановые иглы, которые обладают повышенной прочностью и
            износостойкостью, т.о. микроиглы сохраняют свою заточку на более
            длительный срок и не подвержены коррозии.
          </p>
          <p>
            Данный вид мезороллера для лица МТ имеет прозрачный вместительный
            футляр, который обеспечивает удобство хранения мезороллера. Барабан
            у мезороллера для лица МТ несъемный.
          </p>
          <p>
            Мезороллер для лица МТ представляет собой - блочный несъёмный валик
            с 540-ми микроиглами из титанового сплава с добавлениями драгоценных
            металлов: золота, платины, титана.
          </p>
        </div>
      </div>
      <div class="spec-tabs__content">
        <div class="spec-tabs__text">
          <p>
            Купить мезороллер для лица фирмы МТ Rollers с титановыми
            позолоченными микроиглами в нашем интернет-магазине. Купить
            мезороллер для лица Вы можно очень просто – оформив заказ у нас на
            сайте. Особенностью это мезороллера для лица является увеличенное
            количество игл на барабане - 540 игл, таким образом процедура,
            проводимая с его использованием становится более эффективной.
          </p>
          <p>
            Мезороллер для лица МТ предназначен только для индивидуального
            использования.
          </p>
          <p>
            Длина микроигл в диапазоне от 0,5 мм до 2,0 мм обеспечивает
            необходимый уровень прокалывания кожи, а лазерная заточка позволяет
            делать точные и качественные проколы. На титановые микроиглы
            мезороллера для лица МТ нанесено позолоченное покрытие, которое
            позволяет избежать инфекций при работе.
          </p>
          <p>
            Еще одной немаловажной особенностью мезороллера для лица МТ являются
            титановые иглы, которые обладают повышенной прочностью и
            износостойкостью, т.о. микроиглы сохраняют свою заточку на более
            длительный срок и не подвержены коррозии.
          </p>
          <p>
            Данный вид мезороллера для лица МТ имеет прозрачный вместительный
            футляр, который обеспечивает удобство хранения мезороллера. Барабан
            у мезороллера для лица МТ несъемный.
          </p>
          <p>
            Мезороллер для лица МТ представляет собой - блочный несъёмный валик
            с 540-ми микроиглами из титанового сплава с добавлениями драгоценных
            металлов: золота, платины, титана.
          </p>
        </div>
      </div>
      <div class="spec-tabs__content">
        <div class="spec-tabs__text">
          <p>
            Купить мезороллер для лица фирмы МТ Rollers с титановыми
            позолоченными микроиглами в нашем интернет-магазине. Купить
            мезороллер для лица Вы можно очень просто – оформив заказ у нас на
            сайте. Особенностью это мезороллера для лица является увеличенное
            количество игл на барабане - 540 игл, таким образом процедура,
            проводимая с его использованием становится более эффективной.
          </p>
          <p>
            Мезороллер для лица МТ предназначен только для индивидуального
            использования.
          </p>
          <p>
            Длина микроигл в диапазоне от 0,5 мм до 2,0 мм обеспечивает
            необходимый уровень прокалывания кожи, а лазерная заточка позволяет
            делать точные и качественные проколы. На титановые микроиглы
            мезороллера для лица МТ нанесено позолоченное покрытие, которое
            позволяет избежать инфекций при работе.
          </p>
          <p>
            Еще одной немаловажной особенностью мезороллера для лица МТ являются
            титановые иглы, которые обладают повышенной прочностью и
            износостойкостью, т.о. микроиглы сохраняют свою заточку на более
            длительный срок и не подвержены коррозии.
          </p>
          <p>
            Данный вид мезороллера для лица МТ имеет прозрачный вместительный
            футляр, который обеспечивает удобство хранения мезороллера. Барабан
            у мезороллера для лица МТ несъемный.
          </p>
          <p>
            Мезороллер для лица МТ представляет собой - блочный несъёмный валик
            с 540-ми микроиглами из титанового сплава с добавлениями драгоценных
            металлов: золота, платины, титана.
          </p>
        </div>
      </div>
      <div class="spec-tabs__content">
        <div class="spec-tabs__text">
          <p>
            Купить мезороллер для лица фирмы МТ Rollers с титановыми
            позолоченными микроиглами в нашем интернет-магазине. Купить
            мезороллер для лица Вы можно очень просто – оформив заказ у нас на
            сайте. Особенностью это мезороллера для лица является увеличенное
            количество игл на барабане - 540 игл, таким образом процедура,
            проводимая с его использованием становится более эффективной.
          </p>
          <p>
            Мезороллер для лица МТ предназначен только для индивидуального
            использования.
          </p>
          <p>
            Длина микроигл в диапазоне от 0,5 мм до 2,0 мм обеспечивает
            необходимый уровень прокалывания кожи, а лазерная заточка позволяет
            делать точные и качественные проколы. На титановые микроиглы
            мезороллера для лица МТ нанесено позолоченное покрытие, которое
            позволяет избежать инфекций при работе.
          </p>
          <p>
            Еще одной немаловажной особенностью мезороллера для лица МТ являются
            титановые иглы, которые обладают повышенной прочностью и
            износостойкостью, т.о. микроиглы сохраняют свою заточку на более
            длительный срок и не подвержены коррозии.
          </p>
          <p>
            Данный вид мезороллера для лица МТ имеет прозрачный вместительный
            футляр, который обеспечивает удобство хранения мезороллера. Барабан
            у мезороллера для лица МТ несъемный.
          </p>
          <p>
            Мезороллер для лица МТ представляет собой - блочный несъёмный валик
            с 540-ми микроиглами из титанового сплава с добавлениями драгоценных
            металлов: золота, платины, титана.
          </p>
        </div>
      </div>
      <div class="spec-tabs__content">
        <div class="spec-tabs__text">
          <p>
            Купить мезороллер для лица фирмы МТ Rollers с титановыми
            позолоченными микроиглами в нашем интернет-магазине. Купить
            мезороллер для лица Вы можно очень просто – оформив заказ у нас на
            сайте. Особенностью это мезороллера для лица является увеличенное
            количество игл на барабане - 540 игл, таким образом процедура,
            проводимая с его использованием становится более эффективной.
          </p>
          <p>
            Мезороллер для лица МТ предназначен только для индивидуального
            использования.
          </p>
          <p>
            Длина микроигл в диапазоне от 0,5 мм до 2,0 мм обеспечивает
            необходимый уровень прокалывания кожи, а лазерная заточка позволяет
            делать точные и качественные проколы. На титановые микроиглы
            мезороллера для лица МТ нанесено позолоченное покрытие, которое
            позволяет избежать инфекций при работе.
          </p>
          <p>
            Еще одной немаловажной особенностью мезороллера для лица МТ являются
            титановые иглы, которые обладают повышенной прочностью и
            износостойкостью, т.о. микроиглы сохраняют свою заточку на более
            длительный срок и не подвержены коррозии.
          </p>
          <p>
            Данный вид мезороллера для лица МТ имеет прозрачный вместительный
            футляр, который обеспечивает удобство хранения мезороллера. Барабан
            у мезороллера для лица МТ несъемный.
          </p>
          <p>
            Мезороллер для лица МТ представляет собой - блочный несъёмный валик
            с 540-ми микроиглами из титанового сплава с добавлениями драгоценных
            металлов: золота, платины, титана.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
