<section class="stock">
  <div class="container">
    <div class="stock__wrapper">
      <div
        class="stock__preview"
        style="background-image: url('images/content/stock-bg.jpg')"
      ></div>

      <div class="stock__offer">
        <h2 class="stock__title">
          Вся продукция, представленная на сайте,
          <span>всегда есть в наличии.</span>
        </h2>
        <div class="stock__text">
          <p>
            Вся продукция имеет сертификаты соответствия. Мы можем организовать
            быструю и удобную для Вас доставку по Москве, Санкт-Петербургу и
            регионам любым удобным для Вас способом: почтой России, курьерской
            службой, транспортной компанией. Также мы предлагаем Вам все самые
            удобные способы оплаты Ваших заказов: наличные, электронные деньги
            (ЮMoney), безналичный расчет.
          </p>

          <p>
            Мы радуем Вас ежемесячными акциями и специальными предложениями. К
            каждому клиенту у нас индивидуальный подход.
          </p>

          <p>Всегда Ваш интернет-магазин MESOFORIA!</p>
        </div>
      </div>
    </div>
  </div>
</section>
