<section class="subscription">
  <div class="subscription__offer">
    <span class="subscription__undertitle">скидка на первый заказ</span>
    <h2 class="subscription__title section-title">
      за подписку в <a href="#">vkontakte</a>
    </h2>
  </div>

  <div class="subscription__slider swiper">
    <ul class="subscription__slides swiper-wrapper">
      <li class="subscription__slide swiper-slide">
        <a class="subscription__img" href="#" target="_blank">
          <img src="images/content/subscription/1.jpg" alt="1" />

          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
            quisquam?
          </span>
        </a>
      </li>
      <li class="subscription__slide swiper-slide">
        <a class="subscription__img" href="#" target="_blank">
          <img src="images/content/subscription/2.jpg" alt="1" />

          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
            quisquam?
          </span>
        </a>
      </li>
      <li class="subscription__slide swiper-slide">
        <a class="subscription__img" href="#" target="_blank">
          <img src="images/content/subscription/3.jpg" alt="1" />

          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
            quisquam?
          </span>
        </a>
      </li>
      <li class="subscription__slide swiper-slide">
        <a class="subscription__img" href="#" target="_blank">
          <img src="images/content/subscription/4.jpg" alt="1" />

          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
            quisquam?
          </span>
        </a>
      </li>
      <li class="subscription__slide swiper-slide">
        <a class="subscription__img" href="#" target="_blank">
          <img src="images/content/subscription/5.jpg" alt="1" />

          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
            quisquam?
          </span>
        </a>
      </li>
      <li class="subscription__slide swiper-slide">
        <a class="subscription__img" href="#" target="_blank">
          <img src="images/content/subscription/6.jpg" alt="1" />

          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus,
            quisquam?
          </span>
        </a>
      </li>
    </ul>

    <button
      class="swiper-button-next"
      type="button"
      aria-label="Следующий"
    ></button>
    <button
      class="swiper-button-prev"
      type="button"
      aria-label="Предыдущий"
    ></button>
  </div>

  <div class="subscription__bottom">
    <a class="subscription__btn btn" href="#">Подписаться и получить скидку</a>
  </div>
</section>
