<section class="testimonials">
  <div class="container">
    <div class="testimonials__top">
      <h2 class="testimonials__title section-title">
        <a href="#">Отзывы клиентов</a>
      </h2>
      <p>о нашей продукции</p>
    </div>
    <div class="testimonials__slider swiper">
      <ul class="testimonials__list swiper-wrapper">
        <li class="testimonials__item swiper-slide">
          <article class="testimonials-card">
            <div class="testimonials-card__left">
              <div class="testimonials-card__author">
                <div class="testimonials-card__img">
                  <img src="images/content/reviews/1.jpg" alt="Кристина" />
                </div>
                <div class="testimonials-card__info">
                  <h3 class="testimonials-card__name">Кристина</h3>
                  <time class="testimonials-card__date">23.10.2021</time>
                </div>
              </div>
              <div class="testimonials-card__text">
                <p>
                  Этот крем подходит только для сухой кожи? Lorem Ipsum is
                  simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s, when an unknown printer took a galley of
                  type.
                </p>
              </div>
            </div>
            <div class="testimonials-card__right testimonials-goods">
              <div class="testimonials-goods__img">
                <img src="images/content/testimonials/1.png" alt="Gigi" />
              </div>
              <div class="testimonials-goods__info">
                <h3 class="testimonials-goods__name">
                  <a href="#">
                    Пептидный крем мгновенное увлажнение для сухой кожи/ Instant
                    Moisturizing for Dry Skin, Gigi, Nutri-Peptide, 50 мл
                  </a>
                </h3>
                <div class="testimonials-goods__rating">
                  <ul class="testimonials-goods__stars">
                    <li class="testimonials-goods__star">
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="testimonials-goods__star">
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="testimonials-goods__star">
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="testimonials-goods__star">
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li
                      class="testimonials-goods__star testimonials-goods__star--disabled"
                    >
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                  </ul>
                  <span class="testimonials-goods__count">(1)</span>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="testimonials__item swiper-slide">
          <article class="testimonials-card">
            <div class="testimonials-card__left">
              <div class="testimonials-card__author">
                <div class="testimonials-card__img">
                  <img src="images/content/reviews/1.jpg" alt="Кристина" />
                </div>
                <div class="testimonials-card__info">
                  <h3 class="testimonials-card__name">Кристина</h3>
                  <time class="testimonials-card__date">23.10.2021</time>
                </div>
              </div>
              <div class="testimonials-card__text">
                <p>
                  Этот крем подходит только для сухой кожи? Lorem Ipsum is
                  simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s, when an unknown printer took a galley of
                  type.
                </p>
              </div>
            </div>
            <div class="testimonials-card__right testimonials-goods">
              <div class="testimonials-goods__img">
                <img src="images/content/testimonials/2.png" alt="Gigi" />
              </div>
              <div class="testimonials-goods__info">
                <h3 class="testimonials-goods__name">
                  <a href="#">
                    Пилинг-гоммаж/ Peeling Gommage, Kosmoteros (Космотерос), 200
                    мл
                  </a>
                </h3>
                <div class="testimonials-goods__rating">
                  <ul class="testimonials-goods__stars">
                    <li class="testimonials-goods__star">
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="testimonials-goods__star">
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="testimonials-goods__star">
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="testimonials-goods__star">
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li
                      class="testimonials-goods__star testimonials-goods__star--disabled"
                    >
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                  </ul>
                  <span class="testimonials-goods__count">(1)</span>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="testimonials__item swiper-slide">
          <article class="testimonials-card">
            <div class="testimonials-card__left">
              <div class="testimonials-card__author">
                <div class="testimonials-card__img">
                  <img src="images/content/reviews/1.jpg" alt="Кристина" />
                </div>
                <div class="testimonials-card__info">
                  <h3 class="testimonials-card__name">Кристина</h3>
                  <time class="testimonials-card__date">23.10.2021</time>
                </div>
              </div>
              <div class="testimonials-card__text">
                <p>
                  Этот крем подходит только для сухой кожи? Lorem Ipsum is
                  simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s, when an unknown printer took a galley of
                  type.
                </p>
              </div>
            </div>
            <div class="testimonials-card__right testimonials-goods">
              <div class="testimonials-goods__img">
                <img src="images/content/testimonials/1.png" alt="Gigi" />
              </div>
              <div class="testimonials-goods__info">
                <h3 class="testimonials-goods__name">
                  <a href="#">
                    Пептидный крем мгновенное увлажнение для сухой кожи/ Instant
                    Moisturizing for Dry Skin, Gigi, Nutri-Peptide, 50 мл
                  </a>
                </h3>
                <div class="testimonials-goods__rating">
                  <ul class="testimonials-goods__stars">
                    <li class="testimonials-goods__star">
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="testimonials-goods__star">
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="testimonials-goods__star">
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="testimonials-goods__star">
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li
                      class="testimonials-goods__star testimonials-goods__star--disabled"
                    >
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                  </ul>
                  <span class="testimonials-goods__count">(1)</span>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="testimonials__item swiper-slide">
          <article class="testimonials-card">
            <div class="testimonials-card__left">
              <div class="testimonials-card__author">
                <div class="testimonials-card__img">
                  <img src="images/content/reviews/1.jpg" alt="Кристина" />
                </div>
                <div class="testimonials-card__info">
                  <h3 class="testimonials-card__name">Кристина</h3>
                  <time class="testimonials-card__date">23.10.2021</time>
                </div>
              </div>
              <div class="testimonials-card__text">
                <p>
                  Этот крем подходит только для сухой кожи? Lorem Ipsum is
                  simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s, when an unknown printer took a galley of
                  type.
                </p>
              </div>
            </div>
            <div class="testimonials-card__right testimonials-goods">
              <div class="testimonials-goods__img">
                <img src="images/content/testimonials/2.png" alt="Gigi" />
              </div>
              <div class="testimonials-goods__info">
                <h3 class="testimonials-goods__name">
                  <a href="#">
                    Пилинг-гоммаж/ Peeling Gommage, Kosmoteros (Космотерос), 200
                    мл
                  </a>
                </h3>
                <div class="testimonials-goods__rating">
                  <ul class="testimonials-goods__stars">
                    <li class="testimonials-goods__star">
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="testimonials-goods__star">
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="testimonials-goods__star">
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li class="testimonials-goods__star">
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                    <li
                      class="testimonials-goods__star testimonials-goods__star--disabled"
                    >
                      <svg>
                        <use xlink:href="images/sprite.svg#star"></use>
                      </svg>
                    </li>
                  </ul>
                  <span class="testimonials-goods__count">(1)</span>
                </div>
              </div>
            </div>
          </article>
        </li>
      </ul>

      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
